@inherits LayoutComponentBase

<div class="main-wrapper"> 
        <NavMenu />
    <main>
        <article class="content-container animate__animated animate__fadeIn">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
