.simple-auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF7EF;
    padding: 20px;
}

.auth-box {
    background: white;
    width: 100%;
    
    max-width: 600px;
    padding: 40px 60px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.form-floating {
    margin-bottom: 1.5rem !important;
}

.form-control {
    padding: 1rem !important;
    height: auto !important;
    border-radius: 15px !important;
}
